<section class="container card m-5 mx-auto card-about">
  <div class="card-body">
    <h1 class="text-center m-2">Acerca de Nosotros</h1>
    <p>
      Somos una compañia sin fines de lucro que quiere brindar un espacio libre, generando oferta y demanda de los mismos y así general un gran alcance nacional para la administración de todo tipo de servicios. Estamos apoyados por la Universidad de Cundinamarca y por la comunidad de Soacha. Somos una compañia sin fines de lucro que quiere brindar un espacio libre, generando oferta y demanda de los mismos y así general un gran alcance nacional para la administración de todo tipo de servicios. Estamos apoyados por la Universidad de Cundinamarca y por la comunidad de Soacha. 
    </p>
    <img src="/img/home/pexels-pavel-danilyuk-5496464.jpg" alt="about" class="img-about mx-auto d-block">
  </div>
</section>
