 <!-- Portfolio Section-->

<link rel="stylesheet" href="css/directorio.css">

 <section class="page-section portfolio" id="portfolio">
     <div class="container">
         <!-- Portfolio Section Heading-->
         <h2 class="page-section-heading text-center text-secondary mb-4">Directorio</h2>
         <!-- Portfolio Grid Items-->
         <div class="row justify-content-center">
             <!-- Portfolio Item 1-->
             <div class="col-md-6 col-lg-4 mb-5">
                 <div data-aos="fade-down" class="portfolio-item mx-auto" data-bs-toggle="modal"
                     data-bs-target="#portfolioModal1">
                     <div class="portfolio-item-caption d-flex align-items-center justify-content-center h-100 w-100">
                         <div class="portfolio-item-caption-content text-center text-white"><i
                                 class="fas fa-plus fa-3x"></i></div>
                     </div>
                     <img loading="Lazy" class="img-fluid w-100 img-electrodomestico"
                         src="assets/img/portfolio/electrodomesticos.webp" alt="..." />
                 </div>
             </div>
             <!-- Portfolio Item 2-->
             <div class="col-md-6 col-lg-4 mb-5">
                 <div data-aos="fade-down" class="portfolio-item mx-auto" data-bs-toggle="modal"
                     data-bs-target="#portfolioModal2">
                     <div class="portfolio-item-caption d-flex align-items-center justify-content-center h-100 w-100">
                         <div class="portfolio-item-caption-content text-center text-white"><i
                                 class="fas fa-plus fa-3x"></i></div>
                     </div>
                     <img loading="Lazy" class="img-fluid h-100 w-100" src="assets/img/portfolio/hogar-4.webp"
                         alt="..." />
                 </div>
             </div>
             <!-- Portfolio Item 3-->
             <div class="col-md-6 col-lg-4 mb-5">
                 <div data-aos="fade-down" class="portfolio-item mx-auto" data-bs-toggle="modal"
                     data-bs-target="#portfolioModal3">
                     <div class="portfolio-item-caption d-flex align-items-center justify-content-center h-100 w-100">
                         <div class="portfolio-item-caption-content text-center text-white"><i
                                 class="fas fa-plus fa-3x"></i></div>
                     </div>
                     <img loading="Lazy" class="img-fluid w-100 h-100" src="assets/img/portfolio/decoraciones-2.webp"
                         alt="..." />
                 </div>
             </div>
             <!-- Portfolio Item 4-->
             <div class="col-md-6 col-lg-4 mb-5 mb-lg-0">
                 <div data-aos="fade-down" class="portfolio-item mx-auto" data-bs-toggle="modal"
                     data-bs-target="#portfolioModal4">
                     <div class="portfolio-item-caption d-flex align-items-center justify-content-center h-100 w-100">
                         <div class="portfolio-item-caption-content text-center text-white"><i
                                 class="fas fa-plus fa-3x"></i></div>
                     </div>
                     <img loading="Lazy" class="img-fluid w-100 h-100" src="assets/img/portfolio/sastreyclazado.webp"
                         alt="..." />
                 </div>
             </div>
             <!-- Portfolio Item 5-->
             <div class="col-md-6 col-lg-4 mb-5 mb-md-0">
                 <div data-aos="fade-down" class="portfolio-item mx-auto" data-bs-toggle="modal"
                     data-bs-target="#portfolioModal5">
                     <div class="portfolio-item-caption d-flex align-items-center justify-content-center h-100 w-100">
                         <div class="portfolio-item-caption-content text-center text-white"><i
                                 class="fas fa-plus fa-3x"></i></div>
                     </div>
                     <img loading="Lazy" class="img-fluid w-100 h-100" src="assets/img/portfolio/taller-mecanico.webp"
                         alt="..." />
                 </div>
             </div>
             <!-- Portfolio Item 6-->
             <div class="col-md-6 col-lg-4">
                 <div data-aos="fade-down" class="portfolio-item mx-auto" data-bs-toggle="modal"
                     data-bs-target="#portfolioModal6">
                     <div class="portfolio-item-caption d-flex align-items-center justify-content-center h-100 w-100">
                         <div class="portfolio-item-caption-content text-center text-white"><i
                                 class="fas fa-plus fa-3x"></i></div>
                     </div>
                     <img loading="Lazy" class="img-fluid w-100 h-100" src="assets/img/portfolio/otros-2.webp"
                         alt="..." />
                 </div>
             </div>
         </div>
     </div>
 </section>

 <!-- Portfolio Modals-->
 <!-- Portfolio Modal 1-->
 <div class="portfolio-modal modal fade" id="portfolioModal1" tabindex="-1" aria-labelledby="portfolioModal1"
     aria-hidden="true">
     <div class="modal-dialog modal-xl">
         <div class="modal-content">
             <div class="modal-header border-0"><button class="btn-close" type="button" data-bs-dismiss="modal"
                     aria-label="Close"></button></div>
             <div class="modal-body text-center pb-5">
                 <div class="container">
                     <div class="row justify-content-center">
                         <div class="col-lg-8">
                             <!-- Portfolio Modal - Title-->
                             <h3 class="portfolio-modal-title text-secondary mb-4">Electrodomésticos y
                                 Tecnología</h3>
                             <!-- Portfolio Modal - Image-->
                             <img loading="Lazy" class="img-fluid rounded mb-5"
                                 src="assets/img/portfolio/electrodomesticos.webp" alt="..." />
                             <!-- Portfolio Modal - Text-->
                             <h4 class="text-secondary">Algunos servicios que ofrecemos.</h4>
                         </div>
                     </div>
                     <ul class="lista-electrodomesticos">
                         <li><a class="link-electrodomesticos" href="/lavadora">Lavadora</a>
                         </li>
                         <li><a class="link-electrodomesticos" href="#">Nevera</a></li>
                         <li><a class="link-electrodomesticos" href="#">Tv</a></li>
                         <li><a class="link-electrodomesticos" href="#">Estufa</a></li>
                         <li><a class="link-electrodomesticos" href="#">Equipo de sonido</a></li>
                         <li><a class="link-electrodomesticos" href="#">Computadores</a></li>
                         <li><a class="link-electrodomesticos" href="#">Celulares</a></li>
                         <li><a class="link-electrodomesticos" href="#">Consolas</a></li>
                         <li><a class="link-electrodomesticos" href="#">Camaras de seguridad</a></li>
                     </ul>
                 </div>
             </div>
         </div>
     </div>
 </div>
 <!-- Portfolio Modal 2-->
 <div class="portfolio-modal modal fade" id="portfolioModal2" tabindex="-1" aria-labelledby="portfolioModal2"
     aria-hidden="true">
     <div class="modal-dialog modal-xl">
         <div class="modal-content">
             <div class="modal-header border-0"><button class="btn-close" type="button" data-bs-dismiss="modal"
                     aria-label="Close"></button></div>
             <div class="modal-body text-center pb-5">
                 <div class="container">
                     <div class="row justify-content-center">
                         <div class="col-lg-8">
                             <!-- Portfolio Modal - Title-->
                             <h2 class="portfolio-modal-title text-secondary mb-4">Hogar</h2>
                             <!-- Portfolio Modal - Image-->
                             <img loading="Lazy" class="img-fluid rounded mb-5" src="assets/img/portfolio/hogar-4.webp"
                                 alt="..." />
                             <!-- Portfolio Modal - Text-->
                             <h4 class="text-secondary">Algunos servicios que ofrecemos.</h4>
                         </div>
                     </div>
                     <ul class="lista-electrodomesticos">
                         <li><a class="link-electrodomesticos" href="#">Maestro</a></li>
                         <li><a class="link-electrodomesticos" href="#">Baño</a></li>
                         <li><a class="link-electrodomesticos" href="#">Cocina</a></li>
                         <li><a class="link-electrodomesticos" href="#">Ventanas</a></li>
                         <li><a class="link-electrodomesticos" href="#">Cerrajero</a></li>
                         <li><a class="link-electrodomesticos" href="#">Pintor</a></li>
                         <li><a class="link-electrodomesticos" href="#">Electricista</a></li>
                     </ul>
                 </div>
             </div>
         </div>
     </div>
 </div>
 <!-- Portfolio Modal 3-->
 <div class="portfolio-modal modal fade" id="portfolioModal3" tabindex="-1" aria-labelledby="portfolioModal3"
     aria-hidden="true">
     <div class="modal-dialog modal-xl">
         <div class="modal-content">
             <div class="modal-header border-0"><button class="btn-close" type="button" data-bs-dismiss="modal"
                     aria-label="Close"></button></div>
             <div class="modal-body text-center pb-5">
                 <div class="container">
                     <div class="row justify-content-center">
                         <div class="col-lg-8">
                             <!-- Portfolio Modal - Title-->
                             <h2 class="portfolio-modal-title text-secondary mb-4">Decoraciones y
                                 Arreglos</h2>
                             <!-- Portfolio Modal - Image-->
                             <img loading="Lazy" class="img-fluid rounded mb-5"
                                 src="assets/img/portfolio/decoraciones-2.webp" alt="..." />
                             <!-- Portfolio Modal - Text-->
                             <h4 class="text-secondary">Algunos servicios que ofrecemos.</h4>
                         </div>
                     </div>
                     <ul class="lista-electrodomesticos">
                         <li><a class="link-electrodomesticos" href="#">Florales</a></li>
                         <li><a class="link-electrodomesticos" href="#">Eventos</a></li>
                         <li><a class="link-electrodomesticos" href="#">Regalos y Obsequios</a></li>
                     </ul>
                 </div>
             </div>
         </div>
     </div>
 </div>
 <!-- Portfolio Modal 4-->
 <div class="portfolio-modal modal fade" id="portfolioModal4" tabindex="-1" aria-labelledby="portfolioModal4"
     aria-hidden="true">
     <div class="modal-dialog modal-xl">
         <div class="modal-content">
             <div class="modal-header border-0"><button class="btn-close" type="button" data-bs-dismiss="modal"
                     aria-label="Close"></button></div>
             <div class="modal-body text-center pb-5">
                 <div class="container">
                     <div class="row justify-content-center">
                         <div class="col-lg-8">
                             <!-- Portfolio Modal - Title-->
                             <h2 class="portfolio-modal-title text-secondary mb-4">Sastre y Costura</h2>
                             <!-- Icon Divider-->
                             <!-- Portfolio Modal - Image-->
                             <img loading="Lazy" class="img-fluid rounded mb-5"
                                 src="assets/img/portfolio/sastreyclazado.webp" alt="..." />
                             <!-- Portfolio Modal - Text-->
                             <h4 class="text-secondary">Algunos servicios que ofrecemos.</h4>
                         </div>
                     </div>
                     <ul class="lista-electrodomesticos">
                         <li><a class="link-electrodomesticos" href="#">Sastrería</a></li>
                         <li><a class="link-electrodomesticos" href="#">Calzado</a></li>
                     </ul>
                 </div>
             </div>
         </div>
     </div>
 </div>
 <!-- Portfolio Modal 5-->
 <div class="portfolio-modal modal fade" id="portfolioModal5" tabindex="-1" aria-labelledby="portfolioModal5"
     aria-hidden="true">
     <div class="modal-dialog modal-xl">
         <div class="modal-content">
             <div class="modal-header border-0"><button class="btn-close" type="button" data-bs-dismiss="modal"
                     aria-label="Close"></button></div>
             <div class="modal-body text-center pb-5">
                 <div class="container">
                     <div class="row justify-content-center">
                         <div class="col-lg-8">
                             <!-- Portfolio Modal - Title-->
                             <h2 class="portfolio-modal-title text-secondary mb-4">Taller Mecánico</h2>
                             <!-- Portfolio Modal - Image-->
                             <img loading="Lazy" class="img-fluid rounded mb-5"
                                 src="assets/img/portfolio/taller-mecanico.webp" alt="..." />
                             <!-- Portfolio Modal - Text-->
                             <h4 class="text-secondary">Algunos servicios que ofrecemos.</h4>
                         </div>
                     </div>
                     <ul class="lista-electrodomesticos">
                         <li><a class="link-electrodomesticos" href="#">Taller de Autos</a></li>
                         <li><a class="link-electrodomesticos" href="#">Taller de Motos</a></li>
                         <li><a class="link-electrodomesticos" href="#">Taller de Bicicleta</a></li>
                         <li><a class="link-electrodomesticos" href="#">Almacén de Repuestos de Autos</a></li>
                         <li><a class="link-electrodomesticos" href="#">Almacén de Repuestos de Motos</a></li>
                         <li><a class="link-electrodomesticos" href="#">Almacén de Repuestos de Bicicleta</a></li>
                     </ul>
                 </div>
             </div>
         </div>
     </div>
 </div>
 <!-- Portfolio Modal 6-->
 <div class="portfolio-modal modal fade" id="portfolioModal6" tabindex="-1" aria-labelledby="portfolioModal6"
     aria-hidden="true">
     <div class="modal-dialog modal-xl">
         <div class="modal-content">
             <div class="modal-header border-0"><button class="btn-close" type="button" data-bs-dismiss="modal"
                     aria-label="Close"></button></div>
             <div class="modal-body text-center pb-5">
                 <div class="container">
                     <div class="row justify-content-center">
                         <div class="col-lg-8">
                             <!-- Portfolio Modal - Title-->
                             <h2 class="portfolio-modal-title text-secondary mb-4">Otros</h2>
                             <!-- Portfolio Modal - Image-->
                             <img loading="Lazy" class="img-fluid rounded mb-5" src="assets/img/portfolio/otros-2.webp"
                                 alt="..." />
                             <!-- Portfolio Modal - Text-->
                             <h4 class="text-secondary">Algunos servicios que ofrecemos.</h4>
                         </div>
                     </div>
                     <ul class="lista-electrodomesticos">
                         <li><a class="link-electrodomesticos" href="#">Acarreos y trasteos</a></li>
                         <li><a class="link-electrodomesticos" href="#">Óptica </a></li>
                         <li><a class="link-electrodomesticos" href="#">Peluquerías</a></li>
                         <li><a class="link-electrodomesticos" href="#">Supermercado</a></li>
                         <li><a class="link-electrodomesticos" href="#">Cacharrerias</a></li>
                     </ul>
                 </div>
             </div>
         </div>
     </div>
 </div>



<!-- Bootstrap core JS-->
        <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.0/dist/js/bootstrap.bundle.min.js"></script>
        <!-- Core theme JS-->
        <script src="https://cdn.startbootstrap.com/sb-forms-latest.js"></script>
        <script src = " https://unpkg.com/aos@next/dist/aos.js "></script> 