<section class="home">
  <div class="d-flex justify-content-center align-items-center vh">
    <div>
      <p class="parrafo-home">Busca, consulta y registra tu servicio</p>
      <p class="parrafo-home text-center">Estas a solo un clic !!</p> 
      
    </div>
    <div>
      <img src="/img/home/GoogleBusquedasMonopolio.webp" alt="busqueda" class="img-busqueda">
    </div>
  </div>
  <div class="separador"></div>

</section>
