<!-- Core theme CSS (includes Bootstrap)-->
<link rel="stylesheet" href="css/lavadora.css">


<body id="page-top" class="body">
    <main>

        <section class="page-section portfolio" id="portfolio">
            <div class="container title-lavador text-black d-flex align-items-center flex-column ">
                <h1 class="text-secondary">Servicio de Lavadoras</h1>
                <p class=""><b>SeekService</b> / Lavadoras</p>
                <div class="linea-arriba"></div>
            </div>
            <div class="container">
                <!-- Portfolio Grid Items-->
                <div class="row justify-content-center">
                    <!-- Portfolio Item 1-->
                    <div class="col-md-6 col-lg-4 mb-5">
                        <div class="portfolio-item mx-auto" data-bs-toggle="modal" data-bs-target="#portfolioModal1">
                            <div
                                class="portfolio-item-caption d-flex align-items-center justify-content-center h-100 w-100">
                                <div class="portfolio-item-caption-content text-center text-white"><i
                                        class="fas fa-plus fa-3x"></i></div>
                            </div>
                            <img class="img-fluid w-100 img-electrodomestico"
                                src="/assets/img/lavadoras/fondo-sermu.webp" alt="..." />
                        </div>
                    </div>
                    <!-- Portfolio Item 2-->
                    <div class="col-md-6 col-lg-4 mb-5">
                        <div class="portfolio-item mx-auto" data-bs-toggle="modal" data-bs-target="#portfolioModal2">
                            <div
                                class="portfolio-item-caption d-flex align-items-center justify-content-center h-100 w-100">
                                <div class="portfolio-item-caption-content text-center text-white"><i
                                        class="fas fa-plus fa-3x"></i></div>
                            </div>
                            <img class="img-fluid h-100 w-100" src="../assets/img/lavadoras/aviso-lavadora.webp" alt="..." />
                        </div>
                    </div>
                    <!-- Portfolio Item 3-->
                    <div class="col-md-6 col-lg-4 mb-5">
                        <div class="portfolio-item mx-auto" data-bs-toggle="modal" data-bs-target="#portfolioModal3">
                            <div
                                class="portfolio-item-caption d-flex align-items-center justify-content-center h-100 w-100">
                                <div class="portfolio-item-caption-content text-center text-white"><i
                                        class="fas fa-plus fa-3x"></i></div>
                            </div>
                            <img class="img-fluid w-100 h-100" src="../assets/img/lavadoras/fondo-lavadora3.webp"
                                alt="..." />
                        </div>
                    </div>
                    <!-- Portfolio Item 4-->
                    <div class="col-md-6 col-lg-4 mb-5 mb-lg-0">
                        <div class="portfolio-item mx-auto" data-bs-toggle="modal" data-bs-target="#portfolioModal4">
                            <div
                                class="portfolio-item-caption d-flex align-items-center justify-content-center h-100 w-100">
                                <div class="portfolio-item-caption-content text-center text-white"><i
                                        class="fas fa-plus fa-3x"></i></div>
                            </div>
                            <img class="img-fluid w-100 h-100" src="../assets/img/lavadoras/fondo-lavadora4.webp"
                                alt="..." />
                        </div>
                    </div>
                    <!-- Portfolio Item 5-->
                    <div class="col-md-6 col-lg-4 mb-5 mb-md-0">
                        <div class="portfolio-item mx-auto" data-bs-toggle="modal" data-bs-target="#portfolioModal5">
                            <div
                                class="portfolio-item-caption d-flex align-items-center justify-content-center h-100 w-100">
                                <div class="portfolio-item-caption-content text-center text-white"><i
                                        class="fas fa-plus fa-3x"></i></div>
                            </div>
                            <img class="img-fluid w-100 h-100" src="../assets/img/lavadoras/fondo-lavadora5.webp"
                                alt="..." />
                        </div>
                    </div>
                    <!-- Portfolio Item 6-->
                    <div class="col-md-6 col-lg-4">
                        <div class="portfolio-item mx-auto" data-bs-toggle="modal" data-bs-target="#portfolioModal6">
                            <div
                                class="portfolio-item-caption d-flex align-items-center justify-content-center h-100 w-100">
                                <div class="portfolio-item-caption-content text-center text-white"><i
                                        class="fas fa-plus fa-3x"></i></div>
                            </div>
                            <img class="img-fluid w-100 h-100" src="../assets/img/lavadoras/fondo-lavadora6.webp" alt="..." />
                        </div>
                    </div>
                    
                </div>
            </div>
        </section>
         <!-- Portfolio Modal 1-->
         <div class="portfolio-modal modal fade" id="portfolioModal1" tabindex="-1" aria-labelledby="portfolioModal1" aria-hidden="true">
            <div class="modal-dialog modal-xl">
                <div class="modal-content">
                    <div class="modal-header border-0"><button class="btn-close" type="button" data-bs-dismiss="modal" aria-label="Close"></button></div>
                    <div class="modal-body text-center pb-5">
                        <div class="container">
                            <div class="row justify-content-center">
                                <div class="col-lg-8">
                                    <!-- Portfolio Modal - Title-->
                                    <h3 class="portfolio-modal-title text-secondary text-uppercase mb-0">Serumu Alquiler, Mantenimiento Y Reparacion De Lavadoras</h3>
                                    <!-- Icon Divider-->
                                    <div class="divider-custom">
                                        <div class="divider-custom-line"></div>
                                        <div class="divider-custom-icon"><i class="fas fa-star"></i></div>
                                        <div class="divider-custom-line"></div>
                                    </div>
                                    <!-- Portfolio Modal - Image-->
                                    <img loading="Lazy" class="img-fluid rounded mb-5" src="../assets/img/lavadoras/fondo-sermu.webp" alt="..." />
                                    <!-- Portfolio Modal - Text-->
                                    <h4>Dirección: 465 Transversal #4b, Soacha, Cundinamarca</h4>
                                    <h4 class="text-secondary">Teléfono: 311 8550883</h4>
                                    <h4>Opciones de servicio: Entrega a domicilio</h4>
                                    <a href="https://api.whatsapp.com/send?phone=573118550883&text=Hola%2C+quiero+conocer+sus+horarios+y+la+forma+en+que+trabaja" target="_blank" class="button-whatsapp"><i class="whats fab fa-whatsapp"></i>Contáctalo</a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!-- Portfolio Modal 2-->
        <div class="portfolio-modal modal fade" id="portfolioModal2" tabindex="-1" aria-labelledby="portfolioModal2" aria-hidden="true">
            <div class="modal-dialog modal-xl">
                <div class="modal-content">
                    <div class="modal-header border-0"><button class="btn-close" type="button" data-bs-dismiss="modal" aria-label="Close"></button></div>
                    <div class="modal-body text-center pb-5">
                        <div class="container">
                            <div class="row justify-content-center">
                                <div class="col-lg-8">
                                    <!-- Portfolio Modal - Title-->
                                    <h2 class="portfolio-modal-title text-secondary text-uppercase mb-0">Servicio Técnico Lavadoras</h2>
                                    <!-- Icon Divider-->
                                    <div class="divider-custom">
                                        <div class="divider-custom-line"></div>
                                        <div class="divider-custom-icon"><i class="fas fa-star"></i></div>
                                        <div class="divider-custom-line"></div>
                                    </div>
                                    <!-- Portfolio Modal - Image-->
                                    <img loading="Lazy" class="img-fluid rounded mb-5" src="../assets/img/lavadoras/aviso-lavadora1.webp" alt="..." />
                                    <!-- Portfolio Modal - Text-->
                                    <h4>Dirección: Cl. 33 #N 14-00, Soacha, Cundinamarca</h4>
                                    <h4>Áreas de servicio: Mesitas del Colegio y en áreas cercanas</h4>
                                    <h4 class="text-secondary">Teléfono: 311 5445754</h4>
                                    <h4>Opciones de servicio: domicilio y Local</h4>
                                    <a href="https://api.whatsapp.com/send?phone=573115445754&text=Hola%2C+quiero+conocer+sus+horarios+y+la+forma+en+que+trabaja" target="_blank" class="button-whatsapp"><i class="whats fab fa-whatsapp"></i>Contáctalo</a>
                                </div>
                            </div>
                           
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!-- Portfolio Modal 3-->
        <div class="portfolio-modal modal fade" id="portfolioModal3" tabindex="-1" aria-labelledby="portfolioModal3" aria-hidden="true">
            <div class="modal-dialog modal-xl">
                <div class="modal-content">
                    <div class="modal-header border-0"><button class="btn-close" type="button" data-bs-dismiss="modal" aria-label="Close"></button></div>
                    <div class="modal-body text-center pb-5">
                        <div class="container">
                            <div class="row justify-content-center">
                                <div class="col-lg-8">
                                    <!-- Portfolio Modal - Title-->
                                    <h2 class="portfolio-modal-title text-secondary text-uppercase mb-0">Servicio Técnico Lavadoras Neveras</h2>
                                    <!-- Icon Divider-->
                                    <div class="divider-custom">
                                        <div class="divider-custom-line"></div>
                                        <div class="divider-custom-icon"><i class="fas fa-star"></i></div>
                                        <div class="divider-custom-line"></div>
                                    </div>
                                    <!-- Portfolio Modal - Image-->
                                    <img loading="Lazy" class="img-fluid rounded mb-5" src="../assets/img/lavadoras/fondo-lavadora3.webp" alt="..." />
                                    <!-- Portfolio Modal - Text-->
                                    <h4>Dirección: Calle 30 Sur 16g-144, Soacha, Cundinamarca</h4>
                                    <h4 class="text-secondary">Teléfono: (1) 7819020</h4>
                                    <h4>Opciones de servicio: Local</h4>
                                </div>
                            </div>
                            
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!-- Portfolio Modal 4-->
        <div class="portfolio-modal modal fade" id="portfolioModal4" tabindex="-1" aria-labelledby="portfolioModal4" aria-hidden="true">
            <div class="modal-dialog modal-xl">
                <div class="modal-content">
                    <div class="modal-header border-0"><button class="btn-close" type="button" data-bs-dismiss="modal" aria-label="Close"></button></div>
                    <div class="modal-body text-center pb-5">
                        <div class="container">
                            <div class="row justify-content-center">
                                <div class="col-lg-8">
                                    <!-- Portfolio Modal - Title-->
                                    <h2 class="portfolio-modal-title text-secondary text-uppercase mb-0">Servicio Técnico Lavadoras</h2>
                                    <!-- Icon Divider-->
                                    <div class="divider-custom">
                                        <div class="divider-custom-line"></div>
                                        <div class="divider-custom-icon"><i class="fas fa-star"></i></div>
                                        <div class="divider-custom-line"></div>
                                    </div>
                                    <!-- Portfolio Modal - Image-->
                                    <img loading="Lazy" class="img-fluid rounded mb-5" src="../assets/img/lavadoras/fondo-lavadora4.webp" alt="..." />
                                    <!-- Portfolio Modal - Text-->
                                    <h4>Dirección: Cl. 10A #19a-142, Soacha, Cundinamarca
                                    </h4>
                                    <h4 class="text-secondary">Teléfono: 311 8874597</h4>
                                    <h4>Opciones de servicio: Domicilio y Local</h4>
                                    <a href="https://api.whatsapp.com/send?phone=573118874597&text=Hola%2C+quiero+conocer+sus+horarios+y+la+forma+en+que+trabaja" target="_blank" class="button-whatsapp"><i class="whats fab fa-whatsapp"></i>Contáctalo</a>
                                </div>
                            </div>
                            
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!-- Portfolio Modal 5-->
        <div class="portfolio-modal modal fade" id="portfolioModal5" tabindex="-1" aria-labelledby="portfolioModal5" aria-hidden="true">
            <div class="modal-dialog modal-xl">
                <div class="modal-content">
                    <div class="modal-header border-0"><button class="btn-close" type="button" data-bs-dismiss="modal" aria-label="Close"></button></div>
                    <div class="modal-body text-center pb-5">
                        <div class="container">
                            <div class="row justify-content-center">
                                <div class="col-lg-8">
                                    <!-- Portfolio Modal - Title-->
                                    <h2 class="portfolio-modal-title text-secondary text-uppercase mb-0">BC Reparaciones de Lavadoras</h2>
                                    <!-- Icon Divider-->
                                    <div class="divider-custom">
                                        <div class="divider-custom-line"></div>
                                        <div class="divider-custom-icon"><i class="fas fa-star"></i></div>
                                        <div class="divider-custom-line"></div>
                                    </div>
                                    <!-- Portfolio Modal - Image-->
                                    <img loading="Lazy" class="img-fluid rounded mb-5" src="../assets/img/lavadoras/fondo-lavadora5.webp" alt="..." />
                                    <!-- Portfolio Modal - Text-->
                                    <h4>Dirección: Autopista Sur #125, Soacha, Cundinamarca
                                    </h4>
                                    <h4 class="text-secondary">Teléfono: proximamente</h4>
                                    <h4>Opciones de servicio:Local</h4>
                                </div>
                                
                            </div>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!-- Portfolio Modal 6-->
        <div class="portfolio-modal modal fade" id="portfolioModal6" tabindex="-1" aria-labelledby="portfolioModal6" aria-hidden="true">
            <div class="modal-dialog modal-xl">
                <div class="modal-content">
                    <div class="modal-header border-0"><button class="btn-close" type="button" data-bs-dismiss="modal" aria-label="Close"></button></div>
                    <div class="modal-body text-center pb-5">
                        <div class="container">
                            <div class="row justify-content-center">
                                <div class="col-lg-8">
                                    <!-- Portfolio Modal - Title-->
                                    <h2 class="portfolio-modal-title text-secondary text-uppercase mb-0">Otros</h2>
                                    <!-- Icon Divider-->
                                    <div class="divider-custom">
                                        <div class="divider-custom-line"></div>
                                        <div class="divider-custom-icon"><i class="fas fa-star"></i></div>
                                        <div class="divider-custom-line"></div>
                                    </div>                                    <!-- Portfolio Modal - Image-->
                                    <img loading="Lazy" class="img-fluid rounded mb-5" src="../assets/img/lavadoras/fondo-lavadora6.webp" alt="..." />
                                    <!-- Portfolio Modal - Text-->
                                    <h4>Dirección: Calle 30 Sur 16g-144, Soacha, Cundinamarca
                                    </h4>
                                    <h4 class="text-secondary">Teléfono: (1) 7819020</h4>
                                    <h4>Opciones de servicio:Local</h4>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

    </main>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.0/dist/js/bootstrap.bundle.min.js"></script>
    <!-- Core theme JS-->
    <script src="../lavadoras/scripts.js"></script>
    <script src="https://cdn.startbootstrap.com/sb-forms-latest.js"></script>
    <script src = " https://unpkg.com/aos@next/dist/aos.js "></script> 
        <script>
			AOS.init({
				easing: 'ease-out-back',
				duration: 3000
			});
		</script>
</body>

</html>